.snake-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border: 1px solid #333;
}

.snake-box {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #333;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #74aa0a;
    border: 1px solid #fff;
    z-index: 1;
}

 .container{
  width: 100vw;
  height:100vh;
}

.container .gif img{ 
  width: 50px;
  margin: 2px auto;
  display: block;
}
.snake-score{
  width: 500px;
  margin: 2px auto;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.snake-score img{
  width:30px;
  height:30px;
  
}

.overflow-hidden {
   overflow: hidden;
}
  


